:root {
    --clr-primary: #b1d9f3;
    --clr-bg-white: #fff;
    --clr-bg-light: rgb(238, 238, 238);
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}

img {
    display: block;
}

.h1 {
    font-family: "Playfair Display", serif;
    font-size: 3rem;
}

.h2 {
    font-family: "Playfair Display", serif;
    font-size: 2.5rem;
}

.h3 {
    font-size: 1.5rem;
}

.text-center {
    text-align: center;
}

header {
    position: sticky;
    top: 0;
    z-index: -1;
}

section {
    background-color: var(--clr-bg-white);
    position: relative;
    z-index: 0;
}

.header {
    position: relative;
}

.header > picture img {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    object-position: center;
}

.header__content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding-bottom: 1rem;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
    display: flex;
    gap: 1rem;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.15);
}

@media screen and (min-width: 800px) {
    .header > picture img {
        width: 100%;
        height: auto;
    }

    .header__content {
        top: 2rem;
        right: 3rem;
        left: auto;
        width: 20rem;
        background-color: transparent;
        box-shadow: none;
        color: black;
    }
}

.header__content img {
    width: 8rem;
}

.mountain-top {
    fill: var(--clr-primary);
    box-shadow: inset 5px 5px rgba(0, 0, 0, 0.15);
}

.activities {
    padding-bottom: 1rem;
}

.activities svg {
    width: 100%;
    aspect-ratio: calc(367.14813 / 83.015999);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.activities h2 {
    padding-top: 3rem;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
    margin-top: 8rem;
    margin-bottom: 4rem;
    gap: 1.5rem;
}

.card {
    width: 15rem;
    display: flex;
    flex-direction: column;
    background-color: var(--clr-bg-light);
    border-radius: 2rem;
    padding-bottom: 1rem;
    overflow: hidden;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
}

.card img {
    width: 100%;
    aspect-ratio: 1/1;
}

.card__title {
    font-size: 1.5rem;
    text-align: center;
    width: 100%;
    padding: 1rem;
}

.card__description {
    margin: 0 1rem 1rem 1rem;
    flex-grow: 1;
    font-size: 0.85rem;
}

.card__cta {
    text-align: center;
    color: inherit;
}

.kennel-presentation {
    min-height: min(100vh, 35rem);
    padding: 0 1.5rem 3.5rem 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.kennel-presentation h2 {
    padding: 0;
    margin-bottom: 2rem;
    margin-top: 1rem;
}

.kennel-presentation .section__bg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.kennel-presentation > div > p + p {
    margin-top: 1.5rem;
}

.kennel-presentation > div {
    max-width: 60ch;
    margin-left: auto;
    margin-right: auto;
}

.steve-presentation {
    padding-bottom: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
}
.steve-presentation img {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
    margin-top: -2.5rem;
    width: min(100%, 20rem);
    margin: 0 auto;
    transform: translateY(-1.5rem);
}
.steve-presentation div {
    text-align: justify;
    max-width: 50ch;
    margin: auto;
    padding-top: 2rem;
}

.steve-presentation div > * + * {
    margin-top: 1rem;
}

@media screen and (min-width: 800px) {
    .steve-presentation {
        display: grid;
        grid-template-columns: 20rem auto;
        place-content: center;
        gap: 3rem;
    }
}

.dogs-carousel {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2rem;
}

.dog {
    flex-basis: 16rem;
    aspect-ratio: 1/1;

    transition: transform 0.5s ease-out;
}

.dog.active .inner {
    transform: rotateY(180deg);
}

.dog .inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.dog img,
.dog .content {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}

.dog img {
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: center;
}

.dog .content {
    padding: 1rem;
    transform: rotateY(180deg);
    background-color: #fff;
}

.dog .content h3 {
    text-align: center;
    margin-bottom: 1rem;
}

.dogs-presentation > div {
    background-color: var(--clr-primary);
    position: relative;
}

.dogs-presentation .background {
    width: 100%;
    aspect-ratio: 1916/410;
    margin-bottom: -1.5rem;
}

.dogs-presentation .description {
    max-width: 60ch;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 3rem;
    padding-left: 2rem;
    padding-right: 2rem;
    text-align: justify;
}

.dogs-presentation .description h2 {
    margin-bottom: 2rem;
}

.dogs-presentation .description p + p {
    margin-top: 1rem;
}
