@tailwind base;
@tailwind components;
@tailwind utilities;

.scroll-snap {
    scroll-snap-type: x proximity;
    scroll-behavior: smooth;

    scrollbar-width: none;
    -ms-overflow-style: none;

    padding-left: calc((100% - 18rem) / 2);
    padding-right: calc((100% - 18rem) / 2);
}

.scroll-snap::-webkit-scrollbar {
    display: none;
}

.scroll-snap > * {
    transition: transform, opacity;

    scroll-snap-align: center;
}
